# Node / Angular
node_modules/
dist/
out-tsc/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.angular/
.vscode/

# Python / Django
*.pyc
__pycache__/
db.sqlite3
env/
venv/
*.log
*.pot
*.py[cod]

# Media / archivos subidos
media/
*.sqlite3

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Otros
.DS_Store
